
/*
*
*	Styling for wp-issues-crm output
*
*
*/

#wic-main-header { 
	margin: 0 0 20px 0;
}
/* SYSTEM ERROR MESSAGE */

.wp-issues-crm-fatal-error {
 	background: #ffd0db;
	border: solid 1px red;
	margin: 60px;
	padding: 20px;
}

.wp-issues-crm-non-fatal-error {
	background: white;
	border: solid 1px #333;
	margin: 60px;
	padding: 20px;
} 

#wic-top-level-form {
	margin: 0;
}


/*
/* top-level form button styling to uniform spacing */
/* otherwise taking default primary button styling for wp admin */  
button.button.button-primary.wic-form-button {
	display: inline-block;
	font-size: 1.1em;
	margin-right: .888%;
	width: 13.333%;
}

button.button.button-primary.wic-top-menu-button {
	display: inline-block;
	margin-right: .8888%;
	padding: 3px 0 0 0;
	width: 6.2222%;
}

button.button.button-primary.wic-top-menu-button.wic-nav-button {
	width: 2.66666%;
}

button.button.button-primary.wic-top-menu-button.wic-nav-button:disabled span.dashicons {
	color: #44a;
} 

button.button.button-primary.wic-top-menu-button.back-to-list span.dashicons {
	color: #ffd700;
}

.wic-top-menu-button span.dashicons {
	color: white;
}


}
/*
*
* icon styling for menus and also in forms
*
*/

span.dashicons.dashicons-arrow-left-alt,
span.dashicons.dashicons-smiley,
.dashicons-dismiss, {
	vertical-align: bottom;
}

.dashicons-email-alt {
	vertical-align: middle;
}

/*
*
* styles for main search/update/save form, from top to bottom
*
*/
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-plus-alt,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-search,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-star-filled,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-arrow-left-alt,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-arrow-right-alt,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-chart-line,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-format-aside,
.button.button-primary.wic-top-menu-button.wic-form-button-selected span.dashicons.dashicons-smiley {
	color: #FFD700;
}

.button.button-primary.wic-top-menu-button.wic-form-button-selected:disabled span.dashicons.dashicons-arrow-left-alt,
.button.button-primary.wic-top-menu-button.wic-form-button-selected:disabled span.dashicons.dashicons-arrow-right-alt {
	color: #aa8800;
}

/* message box and notices */
#post-form-message-box {
	font-size: 1.2em;
	margin: 20px 1% 20px 7.111111%;
	padding: 10px 0;
}

#post-form-message-box.wic-form-good-news {
	background: #fff;
	border-left: 4px solid #7AD03A;
	padding: 10px 12px;
}		


#post-form-message-box.wic-form-errors-found {
	background: #ffd0db;
	border-left: 4px solid red;
	padding: 10px 12px;	
}


/* positioning action buttons within form */
/* 128 px is width of button plus button right margin, so this is a one button indent */  		
#wic-post-list .wic-form-button,
.wic-post-form .wic-form-button {
	margin: 0 .888% 20px 7.1111111%;
}

#wic-post-list .wic-form-button.second-position,
.wic-post-form .second-position {
	margin: 0 .888% 20px 0;
} */


/* body of form -- field group areas */
#wic-form-body {
	display:block;
	width: 100%;
}
 
#wic-form-main-groups {
	display: inline-block;
	overflow-x: hidden;
	width: 64%; 
}


/* label is 20% with margin */
.wic-multivalue-control-set {
	width: 88.888888%;
}

.wic-multivalue-field-subgroup {
	width: 100%;
} 

#wic-form-sidebar-groups {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 1px solid #aaa;
	display: inline-block;
	height: 640px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 30px;
	vertical-align: top;
	width: 36%;	
}


/* field groups formatting */
.wic-form-field-group {
	margin: 0; 
	max-width: 100%;
	padding: 0;
}

.field-group-show-hide-button {
	background: none;
	border: 0;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
	text-align: left;	
	width: 100%
}

.field-group-show-hide-button:hover {
	color: #777;
}

#wic-inner-field-group-option_group-toggle-button p.wic-form-field-group-legend,
#wic-inner-field-group-option_group-toggle-button,
#wic-inner-field-group-data_dictionary-toggle-button {
	display: none;
}

#wic-field-group-current_option_group_usage,
#wic-field-group-current_field_config {
	margin: 20px 20px 20px 11.1111111%;
}

#wic-form-option-group-save #wic-field-group-current_option_group_usage {
	display: none;
}

.show-hide-legend {
	font-size: 0.6em;
	padding-left: 10px;
}
p.wic-form-field-group-legend {
	font-size: 0.8em;
	margin: 0 0 10px 0;
}

.wic-form-field-group-label {
}

/* no need for header for contact group */
#wic-inner-field-group-contact-toggle-button {
	display: none;
}

/* basic field styling */

/* wrapper around each label/control pair */
.wic-control {
	margin: 0 0 10px 0; 
}

.wic-multivalue-field-subgroup {
	margin: 0 0 0 0;
}

label.wic-label {
	display: inline-block;
	font-size: 0.8em;
	min-width: 9.722222%;
	margin-right: 1.388888%;
	padding: 0;
	text-align: right;
	vertical-align: top;
}

/* as in the label between range of dates */
.wic-label-2 {
	display: inline-block;
	padding: 0 2.2888% 0 1.4%;
	
}


/* style to line up with labels above it */
.row-add-button {
	background: transparent;
	border: none;
	color: #50D03A;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: 0;

}

.row-add-button:hover {
	color: green;
} 

/********************************************************
* Individual field styling in constituent form
*********************************************************/
/* rows sized to add up to 540px in main area */
/* name row */

#wic-control-first-name {
	width: 33.333%;
}

label.wic-label.first-name{
	min-width: 29.16666%;
	margin-right: 4.16666%;
}

#wic-control-first-name,
#wic-control-middle-name,
#wic-control-last-name {
	display: inline-block;
}

#wic-control-middle-name,
#wic-control-last-name {
	margin-right: 1.38888%;
}


.wic-label.middle-name,
.wic-label.last-name {
	display: none;
}

/* fn sized to lineup under second standard button */
.wic-input.first-name {
	width: 62.49985%;
	margin-bottom: 20px; /* spaces whole name row */
}


#wic-control-middle-name {
	width: 20.83333333%;
}
#wic-control-last-name {
	width: 40.5%;	
}

.wic-input.last-name,
.wic-input.middle-name { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

input.wic-input,
select.wic-input {
	margin-right: 1.25%;
}

.wic-multivalue-block {
	margin-bottom: 10px;
}

/* delete button for multi-rows  ( really a label )  */
.wic-input-deleted-label {
	cursor: pointer;
	color: #e0503A;
	margin: 0 2.8% 0 0; 
}

.wic-input-deleted-label:hover {
	color: red;	
}



.wic-input-deleted-label:hover {
	
}

/* note -- this is a check box, manipulated by its label, the deleted 'x' */
input.wic-input-deleted {
    display: none;
}

/* styling of field rows for fields that are added and removed */
.hidden-template {
	display: none;
}

.visible-template {
	display: block;
}

/* certain labels hidden */
label.wic-label.city,
label.wic-label.email-address,
label.wic-label.phone-number {
	display: none;
}

/* standardize drop down width to a button width */
select.wic-input.activity-type,
select.wic-input.address-type,
select.wic-input.phone-type, 
select.wic-input.email-type {
	cursor: pointer;
	width: 23.4375%;
} 

/* make these a little smaller on update/save forms 
* to allow room for delete button (27px) 
*/
#wic-form-constituent-save .wic-input.phone-type,
#wic-form-constituent-save .wic-input.activity-type,
#wic-form-constituent-save .wic-input.address-type,
#wic-form-constituent-save .wic-input.email-type,
#wic-form-constituent-update .wic-input.phone-type,
#wic-form-constituent-update .wic-input.activity-type,
#wic-form-constituent-update .wic-input.address-type,
#wic-form-constituent-update .wic-input.email-type {
	width: 18.1641%;
} 


#wic-form-constituent-search .wic-input.phone {
	margin-bottom: 20px; /* space row on search form */
}

.wic-input.phone-number {
	width: 23.7%
}

.wic-input.extension {
	width: 15%;
} 

/* extension suppressed on search */
#wic-form-constituent-search .wic-input.extension {
	display: none;
}

.wic-input.address-line,
.wic-input.email-address {
	width: 70.7031%;
}
#wic-form-constituent-update .wic-input.address-line,
#wic-form-constituent-update .wic-input.email-address {
	width: 50.3%;
}



a#wic-email-icon-link {
	text-decoration: none;	
	color: #77f;
}

a#wic-email-icon-link:hover {
	color: #99f;
	font-weight: 700;
}

#wic-form-constituent-search .wic-input.email-address,
#wic-form-constituent-search .wic-input.city {
	margin-bottom: 20px; /* space row on search form */
}

.wic-label.address-line {
	display: none;
}

#wic-field-subgroup-activity,
.wic-field-subgroup-activity,
#wic-field-subgroup-activity_issue,
.wic-field-subgroup-activity_issue,
#wic-field-subgroup-activity_note,
#wic-field-subgroup-address_line_1,
.wic-field-subgroup-address_line_1 {
	margin: 0 0 10px 0;
}

.wic-field-subgroup-activity_note {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.wic-input.state{
	width: 22.2656%;
} 

.wic-input.zip {
	width: 20.5%;
} 

/* plus 128 extends one further across grid */
.wic-input.city {
	width: 50%
	
}

label.wic-label.activity-type, 
label.wic-label.issue {
	display: none;
}

label.wic-label.activity-date {
	display: inline-block;
	min-width: 0px;
	text-align: left;
	vertical-align: top;
	padding: 0 .6%;
}

.wic-input.activity-date {
	width: 25%;
}

/* widen it on update form since lose range and want to line up issue link button */
#wic-form-constituent-update .wic-input.activity-date {
	width: 18%;
}

.wic-field-subgroup-activity_issue .wic-input.issue,
#wic-field-subgroup-activity_issue .wic-input.issue {
	width: 73.5%;
}

.wic-form-button.wic-activity-issue-link-button {
	background: transparent;
	border: 1px solid #ddd;
	cursor: pointer;
	width: 22%;
	margin: 0 3px;
}

.wic-form-button.wic-activity-issue-link-button:hover {
	background: white;
	font-weight: bold;
}

.wic-input.pro-con {
	width: 20.5%;
	min-width: 0px; 
} 

input.wic-input.activity-note, 
textarea.wic-input.activity-note {
	width: 95.3125%;
	min-width: 0px;
}

.wic-input.mark-deleted {
	width: 18.75%
}

/* only show mark deleted on update form */
#wic-form-constituent-save .mark-deleted,
#wic-form-constituent-search .mark-deleted {
	display: none;
}

/* no need to show online comments group in search mode */ 
#wic-form-constituent-search #wic-field-group-comment {
	display: none;
} 

#wic-field-group-comment {
	margin: 20px 0 10px 11.1111%;
}

/* format comment list, shown only on update screen */
#wic-form-issue-update #bottom-button-group {
	display: none;
}

li.comment-issue-link,
li.constituent-comment-date,
li.constituent-comment-issue {
	display: inline-block;
	color: #777;
}

li.constituent-comment-date {
	vertical-align: top;
	width: 23.4375%;
}

li.constituent-comment-issue {
	width: 62.5%;
}

li.constituent-comment-date {
	margin-right: 1.5625%px; 
}

ul.constituent-comment-row,
ul#constituent-comment-list {
	list-style: none;
	margin: 10px 0 0 0 ;
	padding: 0;
}

.wic-form-button.wic-comment-issue-link-button {
	background: transparent;
	border: 1px solid #ccc;
	font-size: 0.8em;
	line-height: 16px;
	margin: 0 0 0 .4%;	
	width: initial;
}
.wic-form-button.wic-comment-issue-link-button:hover {
	background: white;
	font-weight: 700;
}

/* bottom of screen legends */
.wic-form-legend,
.wic-list-legend {
	color: #999;
	font-size: .8em;
}
.wic-form-legend {
	margin: 10px 0 10px 7.11111%;
}


/*******************************************************
*
* Styling of sidebar controls area 
*
********************************************************/

#wic-form-sidebar-groups .field-group-show-hide-button {
	font-size: 1em;
	margin: 10px 0 10px -3px;
}

#wic-form-sidebar-groups #wic-inner-field-group-search_parms-toggle-button {
	margin: 0 0 10px -3px;
	padding: 0;
}

#wic-form-sidebar-groups .wic-label {
	display: block;
	margin: 0;
	padding: 0;
	text-align: left;
}

#wic-form-sidebar-groups .wic-input {
	margin: 0;
	width: 100%;
} 

#wic-form-issue-search #wic-form-sidebar-groups .wic-input.post-date,
#wic-form-issue-search #wic-form-sidebar-groups .wic-input.review-date,
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.case-review-date,
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.date-of-birth,
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.reg-date, 
#wic-form-constituent-search #wic-form-sidebar-groups .wic-input.last-updated-time {
	width: 40%;
	min-width: 0;
}

/*******************************************************
*
* Additional styling for issues forms
*
*******************************************************/
#wic-inner-field-group-issue_content-toggle-button,
#wic-inner-field-group-issue_classification-toggle-button {
	display: none;
}

/*
* Note: these display choices go along with decision in class-wic-db-access-wp.php
*   not to seperately support search by post-content.  The s parm in WP_Query searches title and content, so redundant. 
*/

#wic-form-issue-search .wic-input.post-content,
#wic-form-issue-search .wic-label.post-content,
#wic-form-issue-search .wic-label.post-title  {
	display: none;
}

#wic-form-issue-search #post_title {
	margin: 0 0 0 11.11111%;
}

.wic-input.post-title,
.wic-input.tags-input {
	width: 60%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

/* styling for displayed post text */
#wic-post-content-visible {
	height: 300px;
	margin: 0 0 20px 11.111111%;
	overflow-y: scroll;
	width: 60%;

}

/* styling for multiselect category controls */
.wic-multivalue-control-set {
	display: inline-block;
}

div.wic_multi_select {
	display: inline-block;
	background: #ffffff;
	border: 1px solid #f0f0f0;
	height: 500px;
	overflow-y: scroll;
	margin: 0 0 0 0;
	padding: 20px 0;
	width:  60%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wic_multi_select_item {
	display: block;
	margin: 0;
	max-width: 600px;
}

.wic-multi-select-checkbox {
	text-align: right;
}

.wic-multi-select-label {
	cursor: pointer;
	display: inline-block;
	width: 280px;
	vertical-align: top;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.wic-multi-select-depth-1 {
	padding-left: 20px;
}

.wic-multi-select-depth-2 {
	padding-left: 40px;
}

.wic-multi-select-depth-3 {
	padding-left: 60px
}

.wic-multi-select-depth-4 {
	padding-left: 60px
}

.wic-multi-select-depth-5 {
	padding-left: 60px
}

.wic-multi-select-depth-6 {
	padding-left: 60px
}

#wic-issue-post-edit-link {
	display: inline-block;
}

.wic-input.post-content{
	height: 300px;
	width: 60%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wic-control-category-search-mode label.wic-label {
	display: none;
}

p.wic-radio-button {
	font-size: 0.8em;
}

p.wic-radio-button input{
	max-width: 25px;
}


/* option form styling */



#wic-control-option-value {
	background: white;
	padding: 20px 20px 20px 0;
	margin: 0 20px 20px 0; 
}


/* formatting for individual labels and inputs in the option value form */
#option_value-control-set label.wic-label {
	font-size: 0.8em;
	min-width: 0;
}

#option_value-control-set label.wic-label::after {
	content: ": "
}

#option_value-control-set select.wic-input,
#option_value-control-set input.wic-input {
	margin: 5px 20px 5px 0;
}

#option_value-control-set select.wic-input.enabled {
	margin-right: 0px;
}

input.wic-input.option-value {
	width: 10%;
	max-width: 40px;
}

input.wic-input.option-label {
	width: 35%;
}

input.wic-input.value-order {
	width: 60px;
}
#option_value-control-set label.wic-label.value-order,
#option_value-control-set label.wic-label.enabled {
	display: none;
}

#wic-inner-field-group-data_dictionary select.wic-input,
#wic-inner-field-group-data_dictionary input.wic-input {
	width: 300px;
}




/***************************************************************** 
*
* list styling 
*
******************************************************************/

/* outer ul for whole list */
#wic-post-list ul.wic-post-list  {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* alternating row colors can be applied with styling, but cleaner without*/
.pl-odd, 
.pl-even {
	background: #f7f7f7;
}

.wic-post-list-button.pl-odd,
.wic-post-list-button.pl-even {
	border-left: 4px solid #f7f7f7;
}


button.wic-post-list-button.pl-odd:hover,
button.wic-post-list-button.pl-even:hover {
	background: white;
}

.pl-even.case-assigned,
.pl-odd.case-assigned {
	border-left: 4px solid #ccc;
}


.pl-even.case-assigned.case-open, 
.pl-odd.case-assigned.case-open {
	border-left-color: #7AD03A;
}

.pl-even.case-assigned.case-open.overdue, 
.pl-odd.case-assigned.case-open.overdue {
	border-left-color: red;
}

.long-overdue {
	font-weight: 700;
}

/* header (horizontal) list styling */
#wic-post-list ul.wic-post-list-headers {
	font-weight: 700;
	list-style: none;
	padding: .88889% .88889%;
	margin: 0;
}

#wic-post-list ul.wic-post-list-category-headers {
	font-size: 1.2em;	
	font-weight: 700;
	list-style: none;
	padding: .88889% .88889%;
	margin: 0;
}

li.wic-post-list-header,
li.wic-post-list-field {
	display: inline-block;
	vertical-align: top;	
}
button.wic-post-list-button {
	border: none;	
	cursor: pointer;
	margin: 0;
	padding: 0;
	text-align: left; 
	width: 100%;
}


#wic-post-list ul.wic-post-list-line {
 	
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: .88889% .88889%;
	vertical-align: top;
	list-style: none;
	width: 100%;	
}

#wic-post-list ul.wic-post-list-category-line {
 	
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.2em;
	font-weight: 700;
	margin: 0;
	padding: 0 .88889%;
	vertical-align: top;
	list-style: none;
	width: 100%;	
}

/****************************************************************
* option list styling 
*
******************************************************************/


.pl-even.wic-post-list-button.option-group-disabled,
.pl-odd.wic-post-list-button.option-group-disabled {
	background: #ddd;
	border-bottom: 1px solid #ddd;
	color: #777;
}

.wic-post-list-button.option-group-disabled:hover {
	background: #eee;
}

/* list element widths */
.pl-constituent-first_name{ width:14%;}
.pl-constituent-middle_name{ width:14%;}
.pl-constituent-last_name{ width:14%;}
.pl-constituent-phone{ width:15%;}
.pl-constituent-email{ width:28%;}
.pl-constituent-city{ width:20%;}
.pl-activity-activity_date{ width:19%;}
.pl-activity-activity_type{ width:10%;}
.pl-activity-activity_issue_id{ width:61%;}
.pl-activity-activity_pro_con{ width:10%;}
.pl-issue-issue_staff{ width:13.8%;}
.pl-issue-wic_live_issue{ width:7.1%;}
.pl-issue-follow_up_status{ width:7.1%;}
.pl-issue-post_title{ width:40%;}
.pl-issue-post_category{ width:17%;}
.pl-issue-post_status{ width:8%;}
.pl-trend-id { width: 40%; }
.pl-trend-total { width: 10%; }
.pl-trend-pro { width: 10%; }
.pl-trend-con { width: 10%; }
.pl-trend-post_category { width: 30%; }
.wic-post-list-header.pl-search_log-entity,
.wic-post-list-field.pl-search_log-entity {
	display: none;
}
.pl-search_log-user_id{ width:14.1%;}
.pl-search_log-search_time{ width:14.1%;}
.pl-search_log-serialized_search_array{ width:42.3%;}
.pl-search_log-download_time{ width:14.1%;}
.pl-search_log-result_count { width: 14.1%}
li.pl-search_log-serialized_search_parameters{ display: none;}

.pl-option_group-option_group_desc{ width:30%;}
.pl-option_group-enabled{ width:10%;}
.pl-option_group-option_value{ width:60%;}

.pl-data_dictionary-group_slug { width:15%;}
.pl-data_dictionary-field_label { width:15%;}
.pl-data_dictionary-field_type { width:20%;}
.pl-data_dictionary-option_group { width:20%;}
.pl-data_dictionary-enabled { width:10%;}
.pl-trend-category { width: 30%; }
.pl-trend-category-count { width: 60%; }

.wic-list-legend {
	margin: 10px 7.11111%;
}

/***
* Trend form/list styling
*
*/
#wic-inner-field-group-trend-toggle-button,
#wic-form-trend-search-again #wic-form-sidebar-groups,
#wic-form-trend-search-again #bottom-button-group {
	display: none;
}

#wic-form-trend-search label.wic-label.activity-type, 
#wic-form-trend-search-again label.wic-label.activity-type,
#wic-form-trend-search label.wic-label.activity-date, 
#wic-form-trend-search-again label.wic-label.activity-date {
	display: inline-block;
	min-width: 9.72222%;
	margin-right: 1.38888%;
	padding: 0;
	text-align: right;
	vertical-align: top;
}

#wic-inner-field-group-trend select.wic-input.activity-type, 
#wic-inner-field-group-trend input.wic-input.activity-date, 
#wic-inner-field-group-trend select.wic-input.last-updated-by {
	width: 20.83333%;
}

/* user preferences styling */
button#wic-inner-field-group-userid-toggle-button {
	display: none;
}


button#wic-inner-field-group-user-toggle-button,
button#wic-inner-field-group-startup-toggle-button {
	margin: 20px 0 10px 11.11111%;
}

#wic-field-group-startup .wic-form-field-group-legend,
#wic-field-group-user .wic-form-field-group-legend  {
	margin-left: 11.11111%;
}

/* stats table formatting */
#wp-issues-crm-stats td,
#wp-issues-crm-stats th {
	padding: 2px 15px;
	border: 1px solid #ccc;

}

#wp-issues-crm-stats {
	border: 1px solid #ccc;
}

#wp-issues-crm-stats th {
	text-align: right;
}

td.wic-statistic  {
	width: 12%;
	text-align: right;
}

#wp-issues-crm-stats th.wic-statistic-text {
	text-align: left;
}

.wic-statistic-table-name {
	font-weight: bold;
}



@media only screen and (max-width: 960px) {
	#wic-form-main-groups, 
	#wic-form-sidebar-groups {
		border: none;
		width: 100%;
		height: initial;	
		max-height: initial; 
	} 	
	
	#wic-form-sidebar-groups {
		margin-left: 20%;
		padding: 0;
		width: 80%;	
	}
